/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap');
/* @import url('./united_bootstrap.min.css'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.8;
  background-color: #e9f3f9;
  font-size: 14px;
}
input,
textarea {
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
}

a {
  text-decoration: none;
  color: steelblue;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #0a66c2;
  color: #fff;
  padding: 5px 40px;
  /* padding: 5px 40px; */
  /* padding: 10px 20px; */
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  margin: 10px 0px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  display: inline-block;
  /* font: inherit; */
  /* font-size: 13px; */
  background: #000;
  color: #fff;
  padding: 5px 40px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  margin: 10px 0px;
}

.btn-secondary:hover,
.btn-white:hover {
  opacity: 0.8;
}

.btn-white {
  background-color: #fff;
  color: #000 !important;
  padding: 3px 15px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  display: inline-block;
}
.btn-edit {
  background-color: #0a66c2;
  color: #fff !important;
  padding: 1px 12px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  display: inline-block;
  margin: 0px 10px;
  font-size: 12px;
}
.btn-delete {
  background-color: crimson;
  color: #fff !important;
  padding: 1px 12px;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  display: inline-block;
  margin: 0px 10px;
  font-size: 12px;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

svg {
  margin-top: 4px;
}
